<section class="rev-editor">
    <div class="container">
        <div class="rev-editor-info">
            <span class="rev-editor-desc">Unlimited 30-Days Trial Period</span>
            <h3 class="rev-editor-title">Revolutionary editor</h3>
            <p class="rev-editor-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
            </p>
            <div class="rev-editor-buttons">
                <div class="rev-editor-section">
                    <button class="rev-editor-btn">
                        <i class="far fa-eye"></i>
                        <span class="rev-editor-btn-name">Watch</span>
                    </button>
                    <span class="rev-editor-amount">1,397</span>
                </div>
                <div class="rev-editor-section">
                    <button class="rev-editor-btn">
                        <i class="fas fa-star"></i>
                        <span class="rev-editor-btn-name">Star</span>
                    </button>
                    <span class="rev-editor-amount">21,038</span>
                </div>
                <div class="rev-editor-section">
                    <button class="rev-editor-btn">
                        <i class="fas fa-code-branch"></i>
                        <span class="rev-editor-btn-name">Fork</span>
                    </button>
                    <span class="rev-editor-amount">4,391</span>
                </div>
            </div>
        </div>
    </div>
</section>