<div class="subs-pricing">
    <div class="container">
        <h2 class="subs-pricing-title">Fork Subscription Pricing</h2>
        <div class="pricing-block">
            <div class="block-item">
                <h3 class="block-item-title">Students</h3>
                <div class="block-item-info">
                    <span class="block-item-price">	&#36;29</span>
                    <p class="block-item-duration">Per Month</p>
                    <p class="block-item-text">Personal License</p>
                    <button class="block-item-btn">Purchase</button>
                </div>
            </div>
            <div class="block-item">
                <h3 class="block-item-title">professional</h3>
                <span class="block-item-price">	&#36;59</span>
                <p class="block-item-duration">Per Month</p>
                <p class="block-item-text">Professional License Email Support</p>
                <button class="block-item-btn">Purchase</button>
            </div>
            <div class="block-item block-item-selected">
                <h3 class="block-item-title block-item-title-selected ">agency</h3>
                <span class="block-item-price">	&#36;99</span>
                <p class="block-item-duration block-item-duration-selected">Per Month</p>
                <p class="block-item-text block-item-text-selected">1-12 Team Members Phone Support</p>
                <button class="block-item-btn">Purchase</button>
            </div>
            <div class="block-item">
                <h3 class="block-item-title">enterprise</h3>
                <span class="block-item-price">	&#36;159</span>
                <p class="block-item-duration">Per Month</p>
                <p class="block-item-text">Unlimited Team Members 24/ 7 Phone Support</p>
                <button class="block-item-btn">Purchase</button>
            </div>
        </div>
    </div>
</div>