<div class="what-you-get">
    <div class="container flex">
        <div class="right-section-title-hidden">
            <h2 class="">&#60;Here is what you get&#62;</h2>
        </div>
        <div class="left-section">
            <div class="left-section-block">
                <div class="left-section-block-img"><img src="/dist/img/icon-first.png" alt=""></div>
                <div class="left-section-block-info">
                    <h3 class="left-section-block-title">Creatred to Make The Web Better</h3>
                    <p class="left-section-block-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
                    </p>
                </div>
            </div>
            <div class="left-section-block">
                <div class="left-section-block-img"><img src="/dist/img/icon-second.png" alt=""></div>
                <div class="left-section-block-info">
                    <h3 class="left-section-block-title">Incredibly Powerful Tool</h3>
                    <p class="left-section-block-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="left-section-block">
                <div class="left-section-block-img"><img class="img-fluid" src="/dist/img/icon-third.png" alt=""></div>
                <div class="left-section-block-info">
                    <h3 class="left-section-block-title">Experimental Stuff</h3>
                    <p class="left-section-block-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
            <div class="left-section-block">
                <div class="left-section-block-img"><img src="/dist/img/icon-fourth.png" alt=""></div>
                <div class="left-section-block-info">
                    <h3 class="left-section-block-title">Creatred to Make The Web Better</h3>
                    <p class="left-section-block-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
                </div>
            </div>
        </div>
        <div class="right-section">
            <h2 class="right-section-title">&#60;Here is what you get&#62;</h2>
            <div class="right-section-editor-img">
                <img src="/dist/img/editor-img.png" alt="">
            </div>
        </div>
    </div>
</div>