.container {
  max-width: 1180px;
  margin: 0 auto;
}
 .rev-editor {
   padding: 0 10px 70px 10px;
   font-family: 'Montserrat', sans-serif;

    &-info {
      margin: 48px auto;
      max-width: 903px;
      text-align: center;

    }
    &-desc {
      font-size: 14px;
      color: #323232;
    }
    &-title {
      font-size: 54px;
      text-transform: uppercase;
      font-weight: 700;
      color: #635c73;
      margin-top: 67px;
      margin-bottom: 23px;
    }
    &-text {
      font-size: 21px;
      color: #7c7c7c;
      margin-bottom: 36px;
    }
   &-buttons {
     display: flex;
     justify-content: center;
     margin-bottom: 70px;
   }
   &-section {
     border: 1px solid gray;
     margin-right: 15px;
   }
   &-btn {
     border: none;
     padding: 5px 10px;

     &-name {
       font-weight: 700;
     }
   }

   &-amount {
     font-size: 12px;
     font-weight: bold;
     padding: 10px 5px;
   }
  }

@media only screen and (max-width: 992px) and (min-width: 481px){
    .rev-editor-title {
      font-size: 42px;
    }
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
  .rev-editor {
    &-title {
      font-size: 26px;
      text-align: center;
      line-height: 42px;
    }
    &-text {
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
    }
    &-buttons {
      flex-wrap: wrap;
    }
    &-section {
      margin-bottom: 25px;
    }
  }
}