.subs-pricing {
  background: url("../img/subs-pricing-img.png") no-repeat;
  background-size: cover;
  padding: 0 10px;

  &-title {
    font-family: "Montserrat", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding-top: 78px;
  }
}
.pricing-block {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 70px 0;
  text-align: center;
}
.block-item {
  flex: 0 1 257px;
  max-width: 257px;
  background-color: rgba(99, 83, 101, 0.4);
  margin-right: 14px;
}
.block-item-selected{
  max-width: 299px;
  flex: 0 1 299px;
  background-color: rgba(99, 83, 101, 0.7);
}
.block-item:last-child{
  margin-right: 0 ;
}
.block-item-title {
  font-size: 24px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 40px 0;
  margin-bottom: 32px;
  background-color: rgba(99, 83, 101, 0.7);
}
.block-item-title-selected{
  background-color: #392d3d;
  padding: 47px 0;
  margin-bottom: 15px;
  text-align: center;
}
.block-item-price {
  font-size: 60px;
  color: #ffffff;
  font-weight: 700;
}
.block-item-duration {
  font-size: 14px;
  text-transform: uppercase;
  color: #968a98;
  margin-top: 30px;
}
.block-item-duration::after {
  content: "";
  display: block;
  margin: 35px auto;
  width: 60px;
  height: 5px;
  background-color: #8d81ac;
}
.block-item-duration-selected:after {
  margin: 45px auto;
}
.block-item-text{
  text-align: center;
  font-size: 16px;
  color: #c1bac1;
  min-height: 46px;
  padding: 0 23px;
  margin-top: 31px;
  margin-bottom: 37px;
}
.block-item-text-selected {
  margin-bottom: 82px;
}
.block-item-btn {
  border: 0;
  border-radius: 44px;
  color: #ffffff;
  padding: 16px 37px;
  background-color: #746a77;
  text-transform: uppercase;
  margin-bottom: 38px;
  transition: 0.4s;
  outline: none;
}
.block-item-btn:hover {
  background-color: #cecbcf;
  color: #7f6d78;
  cursor: pointer;
  transition: 0.4s;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .pricing-block {
    max-width: 571px;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .block-item {
    margin-top: 41px;
    margin-right: 0;

    &:first-child {
      margin-left: 20px;
    }
  }
}
@media only screen and (max-width: 580px) and (min-width: 481px) {
  .block-item {
    flex: 0 1 220px;
    max-width: 220px;

    &-selected {
      flex: 0 1 235px;
      max-width: 235px;
    }
  }
  .block-item:first-child {
    margin-left: 0;
  }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {

  .pricing-block {
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 290px;
  }
  .block-item {
    margin-top: 14px;
    margin-right: 0;
  }

}




