.what-you-get {
  box-sizing: border-box;
  width: 100%;
  padding: 0 10px;
  background: #f4f4f4;
  display: flex;
  //background: red;
  font-family: "Montserrat" , sans-serif;
}

.left-section {
  width: 50%;
  padding: 100px 90px 69px 0;
  box-sizing: border-box;

  &-block {
    display: flex;
    justify-content: space-between;

    &-img {
      width: 111px;
      margin-right: 23px;
    }

    &-info {
      display: flex;
      max-width: 522px;
      margin-bottom: 34px;
      flex-wrap: wrap;
      width: 70%;
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      color: #323232;
    }
    &-text {
      margin-top: 20px;
      font-size: 14px;
      font-weight: 400;
      color: #848e97;
      line-height: 21px;
    }
  }
}
.right-section {
  width: 50%;

  &-title {
    font-size: 48px;
    font-weight: 700;
    color: #8d81ac;
    padding-top: 84px;
    margin-bottom: 29px;
    text-align: center;
  }
  &-title-hidden {
    display: none;
  }
  &-editor-img {
    overflow: hidden;
  }
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .left-section {
    width: 100%;
    padding: 0 10px;

    &-block {
      display: flex;
      justify-content: center;
    }
  }
  .right-section {
    width: 100%;

    &-title {
      display: none;

      &-hidden {
        display: block;
        text-align: center;
        margin: 57px auto;
        font-size: 42px;
        font-weight: 700;
        color: #8d81ac;
      }
    }
  }


}

@media only screen and (max-width: 480px) and (min-width: 320px) {
  .what-you-get {
    max-width: 480px;
  }
  .container {
    max-width: 480px;
    width: 100%;
  }
  .left-section {
    width: 100%;
    padding: 0;

    &-block {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 320px;
      margin: 0 auto;
      text-align: center;

      &-img {
        margin-bottom: 20px;
        margin-right: 0;
      }

      &-info {
        width: 100%;
        justify-content: center;
      }
    }
  }
  .right-section {
    width: 100%;

    &-title {
      display: none;

      &-hidden {
        margin: 25px auto;
        text-align: center;
        display: block;
        font-size: 32px;
        font-weight: 700;
        color: #8d81ac;
        line-height: 38px;
      }
    }

    &-editor-img {
      padding-left: 0;
      max-width: 716px;
      max-height: 381px;
    }
  }
}
