@mixin desktop {
  @media screen and (min-width:1200px){
    @content;
  }
}
@mixin laptop{
  @media screen and (min-width:992px){
    @content;
  }
}
@mixin tablet{
  @media screen and (min-width:769px){
    @content;
  }
}
@mixin phone {
  @media screen and (min-width: 480px) {
    @content;
  }
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-center {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) and (min-width: 481px) {
  .flex {
    width: 100%;
  }
}